body {
    margin: 0;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.container2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.backboard {
    width: 600px;
    height: 400px;
    background-color: #06091e;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    margin: 50px auto;
}

.score {
    background-color: black;
    color: red;
    width: 140px;
    height: 100px;
    margin: 0px;
    border: 1px solid white;
    text-align: right;
    font-size: 600%;
    font-family: 'scoreboard', sans-serif;
}

.period {
    background-color: black;
    color: lightgreen;
    width: 40px;
    height: 65px;
    margin: 0px auto;
    border: 1px solid white;
    text-align: center;
    font-size: 400%;
    font-family: 'scoreboard', sans-serif;
}

.score-title {
    color: lightgrey;
    font-size: 200%;
    margin: 0px 0px 20px 0px;
}

.period-title {
    color: lightgrey;
    font-size: 150%;
    margin: 20px auto 0px auto;
    text-align: center;
}

.time-limit {
    display: flex;
    border: 5px solid lightgray;
    border-radius: 10px;
    width: 300px;
    height: 80px;
    margin: 0px auto 15px auto;
    background-color: black;
    justify-content: space-around;
}

.timeslots {
    background-color: black;
    color: yellow;
    width: 100px;
    height: 70px;
    margin: 4px 15px;
    border: 1px solid white;
    text-align: right;
    font-size: 450%;
    font-family: 'scoreboard', sans-serif;
}

#time-colon {
    color: white;
    font-size: 450%;
    text-align: justify;
    margin: 0px;
    font-family: 'scoreboard', sans-serif;
}

.add-score {
    margin: 10px auto;
    display: flex;
    justify-content: left;
}

.fouls-title {
    color: lightgrey;
    font-size: 150%;
    margin: 0px; 
}

.foulbox {
    background-color: black;
    color: lightgreen;
    width: 90px;
    height: 65px;
    margin: 0px 50px;
    border: 1px solid white;
    text-align: right;
    font-size: 450%;
    vertical-align: middle;
    line-height: normal;
    display: inline-block;
    font-family: 'scoreboard', sans-serif;
}

#player-number {
    background-color: black;
    color: red;
    width: 80px;
    height: 60px;
    margin: 0px 20px;
    border: 1px solid white;
    text-align: right;
    font-size: 400%;
    font-family: 'scoreboard', sans-serif;
}

#foul-amount {
    background-color: black;
    color: red;
    width: 40px;
    height: 60px;
    margin: 0px 20px;
    border: 1px solid white;
    text-align: right;
    font-size: 400%;
    font-family: 'scoreboard', sans-serif;
}

.add-points{
    background-color: #06091e;
    padding: 10px;
    color: lightslategray;
    border: 1px solid lightslategray;
    border-radius: 10px;
    margin: 0px;
}

.add-points:hover{
    background-color: lightslategray;
    color:#06091e;
    border-color:#06091e;
}

.add-time:hover{
    background-color: lightslategray;
    color:#06091e;
    border-color:#06091e;
}

.actions-title{
    color: lightgray;
}

.actions {
    width: 250px;
    height: 400px;
    background-color: darkcyan;
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    margin: 55px auto;
    margin: 0px 60px;
}

.actions-list {
    margin: 0px 10px;
    font-size: 150%;
    color: darkorange;
    padding: 5px;
    text-align: left;
    width:60px;
}

.spacer {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 0px;
}

.spacer2 {
    width: 60%;
    margin: 0px;
}

.add-time {
    background-color: #06091e;
    padding: 10px;
    width: 100%;
    color: lightslategray;
    border: 1px solid lightslategray;
    border-radius: 10px;
    margin: 0px;
    display: block;
}

.add-score2 {
    margin: 10px 10px 10px -10px;
    display: flex;
    justify-content: right;
}

@font-face {
    font-family: 'scoreboard';
    src: url('font/CursedTimerUlil-Aznm.eot'),
        url('font/CursedTimerUlil-Aznm.ttf') format('truetype'),
        url('font/CursedTimerUlil-Aznm.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}